<clr-wizard #wizard class="start-wizard" [(clrWizardOpen)]="open" [clrWizardDisableStepnav]="true" [clrWizardClosable]="false">
    <clr-wizard-title> {{dictionary.startWizardF5Migration}} </clr-wizard-title>

    <clr-wizard-button [type]="'next'"> {{dictionary.startWizardFinishLabel}} </clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="!form.valid">
        <ng-template clrPageTitle> {{dictionary.startWizardCollectConfigurations}} </ng-template>
        <ng-template clrPageNavTitle> {{dictionary.startWizardCollectConfigurations}} </ng-template>
        <p>
            {{ dictionary.startWizardCollectPageTitle }}
        </p>
        <p>
            {{ dictionary.startWizardCollectPageSubTitle }}
        </p>

        <form clrForm [formGroup]="form" clrLayout="vertical">
            <clr-input-container>
              <label> {{dictionary.startWizardIpAddressLabel}} </label>
              <input clrInput type="text" formControlName="f5_host_ip" required size="100" />
            </clr-input-container>
            <clr-input-container>
                <label> {{dictionary.startWizardUsernameLabel}} </label>
                <input clrInput type="text" formControlName="f5_ssh_user" required size="100" />
            </clr-input-container>
            <clr-password-container>
                <label> {{dictionary.startWizardPasswordLabel}} </label>
                <input
                  clrPassword
                  name="password"
                  formControlName="f5_ssh_password"
                  size="95"
                  required
                />
            </clr-password-container>
        </form>
    </clr-wizard-page>

    <clr-wizard-page (clrWizardPageOnLoad)="onGenerateReport()">
        <ng-template clrPageTitle> {{dictionary.startWizardAnalyzing}} </ng-template>
        <ng-template clrPageNavTitle> {{dictionary.startWizardAnalyzing}} </ng-template>

        <div class="finalizing-section">
            <clr-alert [clrAlertType]="'danger'" *ngIf="errMessage && !isGeneratingReport">
                <clr-alert-item>
                  <span class="alert-text">{{ errMessage }}</span>
                </clr-alert-item>
            </clr-alert>

            <div *ngIf="!errMessage && isGeneratingReport">
                <div class="finalizing-picture">
                    <img width="350" height="220"  src="assets/images/analyzing.png"/>
                </div>
                <div class="progress loop progress-bar">
                    <progress></progress>
                </div>
            </div>
        </div>

        <ng-template clrPageButtons>
            <clr-wizard-button [type]="'previous'" *ngIf="errMessage && !isGeneratingReport">Back</clr-wizard-button>
        </ng-template>
    </clr-wizard-page>
</clr-wizard>
