<div class="vs-config-editor-modal">
    <clr-modal [(clrModalOpen)]="isOpen" [clrModalSize]="'xl'" *ngIf="vsConfig" [clrModalClosable]="false">
        <h3 class="modal-title">{{ vsConfig.F5_ID }} {{ dictionary.editorLabel }}</h3>

        <div class="modal-body">
            <div class="alert-section">
                <clr-alert *ngIf="vsConfigEditorError" [clrAlertType]="'danger'">
                    <clr-alert-item>
                        <span class="alert-text">
                            {{ vsConfigEditorError }}
                        </span>
                    </clr-alert-item>
                </clr-alert>
                <ng-container *ngIf="vsConfig.flaggedObjects.length">
                    <clr-alert [clrAlertType]="'warning'" [clrAlertClosable]="false" *ngFor="let config of vsConfig.flaggedObjects; trackBy: trackByIndex; let i = index">
                        <clr-alert-item>
                            <span class="alert-text">{{ config.F5_ID }} {{ dictionary.editorAlertMessage }}</span>
                            <div class="alert-actions">
                                <span class="alert-action" (click)="openChildConfigEditorModal(i)">{{ dictionary.reviewNowLabel }}</span>
                            </div>
                        </clr-alert-item>
                    </clr-alert>
                </ng-container>
            </div>
            <config-editor
                [leftSectionConfig]="vsConfig.F5_Object"
                [rightSectionConfig]="vsConfig.Avi_Object"
                [disableAccept]="!!vsConfig.flaggedObjects.length"
                (onClose)="closeModal($event)"
            ></config-editor>
        </div>
    </clr-modal>
</div>

<generic-config-editor-modal
    *ngIf="isOpenChildConfigEditorModal"
    [error]="childConfigEditorError"
    [config]="vsConfig.flaggedObjects[childConfigEditorConfigIndex]"
    (onCloseGeneralConfigEditorModal)="handleCloseChildConfigEditorModal($event)"
></generic-config-editor-modal>
