.card {
    height: 285px;
}

.card-row {
    display: flex;
    .first-item {
        width: 200px;
    }
}

.card.top-row {
    height: unset;
    display: flex;
    justify-content: space-between;
}

.card.top-row > .card-block {
    width: 33%;
}

.progress-bar {
    position: relative;
    margin-top: 10px;
}

.grid-title {
    color: #0079B8;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.progress-bar {
    font-size: 1px;
}

.select-input {
    width: 780px;
}