.next-conversion-card {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__no-margin-top {
    margin-top: 0px;
  }

  &__name {
    width: 250px;
  }

  input {
    text-overflow: ellipsis;
  }

  .clarity-overrides();
}

.clarity-overrides() {
  .card-block {
    height: 145px;
  }

  .clr-form {
    height: 100%
  }
}
