
<div class="next-conversion-card card">
    <h3 class="card-header">
        <cds-icon shape="two-way-arrows" size='md' status="success"></cds-icon>
        {{ dictionary.header }}
    </h3>
    <div class="card-block">
        <form clrForm [clrLayout]="verticalLayout">
            <div class="next-conversion-card__row">
                <clr-tooltip>
                    <clr-input-container class="next-conversion-card__no-margin-top">
                        <label>{{ dictionary.nameLabel }}</label>
                        <input placeholder="{{ emptyValue }}" clrInput clrTooltipTrigger [value]="selectedMigrationData?.F5_ID" name="name"
                            readonly />
                    </clr-input-container>
                    <clr-tooltip-content clrPosition="top-right">
                        <span>{{ selectedMigrationData?.F5_ID }} </span>
                    </clr-tooltip-content>
                </clr-tooltip>
                <clr-input-container class="next-conversion-card__no-margin-top">
                    <label>{{ dictionary.noOfFlagesLabel }}</label>
                    <input placeholder="{{ emptyValue }}" clrInput [value]="selectedMigrationData?.flaggedObjects?.length"
                        name="flaggedObjectsCount" readonly />
                </clr-input-container>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" (click)="handleStart()" [disabled]="!selectedMigrationData || isFetchInProgress">{{ dictionary.startLabel }}</button>
        <button class="btn btn-link" (click)="handleSkip()" [disabled]="!selectedMigrationData || isFetchInProgress">{{ dictionary.skipLabel }}</button>
    </div>
</div>
