<div class="start-migration-wizard">
    <clr-wizard #wizard [(clrWizardOpen)]="isWizardOpen" [clrWizardDisableStepnav]="true" [clrWizardClosable]="false">
        <clr-wizard-title>{{ dictionary.header }}</clr-wizard-title>

        <clr-wizard-button [type]="'previous'">{{ dictionary.backLabel }}</clr-wizard-button>
        <clr-wizard-button [type]="'next'">{{ dictionary.nextLabel }}</clr-wizard-button>
        <!-- <clr-wizard-button [type]="'finish'"> {{dictionary.startMigrationSubmitLabel}} </clr-wizard-button> -->

        <clr-wizard-page [clrWizardPageNextDisabled]="!certsAndKeysForm.valid">
            <ng-template clrPageTitle>{{ dictionary.certsAndKeysPageTitle }}</ng-template>
            <ng-template clrPageNavTitle>{{ dictionary.certsAndKeysPageNavTitle }}</ng-template>

            <span>{{ dictionary.certsAndKeysPageHeaderMessage }}</span>

            <form clrForm [formGroup]="certsAndKeysForm" [clrLayout]="verticalLayout">
                <clr-input-container>
                    <label>{{ dictionary.ipAddressLabel }}</label>
                    <input clrInput placeholder="{{ dictionary.ipAddressPlaceholder }}" formControlName="f5_host_ip" size="100"/>
                    <clr-control-error>{{ dictionary.invalidErrorMessage }}</clr-control-error>
                </clr-input-container>

                <clr-input-container>
                    <label>{{ dictionary.usernameLabel }}</label>
                    <input clrInput placeholder="{{ dictionary.usernamePlaceholder }}" size="100" formControlName="f5_ssh_user"/>
                    <clr-control-error>{{ dictionary.invalidErrorMessage }}</clr-control-error>
                </clr-input-container>

                <clr-password-container>
                    <label>{{ dictionary.passwordLabel }}</label>
                    <input
                        clrPassword
                        placeholder="{{ dictionary.passwordPlaceholder }}"
                        formControlName="f5_ssh_password"
                        size="95"
                    />
                    <clr-control-error>{{ dictionary.requiredErrorMessage }}</clr-control-error>
                  </clr-password-container>
            </form>
        </clr-wizard-page>

        <clr-wizard-page [clrWizardPageNextDisabled]="!labControllerForm.valid"  #pageTwo>
            <ng-template clrPageTitle>{{ dictionary.labControllerPageTitle }}</ng-template>
            <ng-template clrPageTitle>{{ dictionary.labControllerPageNavTitle }}</ng-template>

            <span>{{ dictionary.labControllerPageHeaderMessage }}</span>

            <form clrForm [formGroup]="labControllerForm" [clrLayout]="verticalLayout">
                <clr-input-container>
                    <label>{{ dictionary.ipAddressLabel }}</label>
                    <input clrInput placeholder="{{ dictionary.ipAddressPlaceholder }}" size="100" formControlName="avi_lab_ip"/>
                    <clr-control-error>{{ dictionary.invalidErrorMessage }}</clr-control-error>
                </clr-input-container>

                <clr-input-container>
                    <label>{{ dictionary.usernameLabel }}</label>
                    <input clrInput placeholder="{{ dictionary.usernameLabel }}" size="100" formControlName="avi_lab_user"/>
                    <clr-control-error>{{ dictionary.invalidErrorMessage }}</clr-control-error>
                </clr-input-container>

                <clr-password-container>
                    <label>{{ dictionary.passwordLabel }}</label>
                    <input
                        clrPassword
                        placeholder="{{ dictionary.passwordPlaceholder }}"
                        formControlName="avi_lab_password"
                        size="95"
                    />
                    <clr-control-error>{{ dictionary.requiredErrorMessage }}</clr-control-error>
                  </clr-password-container>
            </form>
        </clr-wizard-page>

        <clr-wizard-page
            (clrWizardPageNext)="pageCustomNext()"
            [clrWizardPagePreventDefaultNext]="true"
            [clrWizardPageNextDisabled]="!destinationCtrlForm.valid"
        >
            <ng-template clrPageTitle> {{dictionary.startMigrationDestinationControllerTitle}} </ng-template>
            <ng-template clrPageNavTitle> {{dictionary.startMigrationConnectDestControllerLabel}} </ng-template>
            <div>
                <p>
                {{ dictionary.startMigrationDestPageSubTitle }}
                </p>
                <div class="alert alert-danger" role="alert" *ngIf="f5LoginError">
                <div class="alert-items">
                        <div class="alert-item static">
                            <div class="alert-icon-wrapper">
                            <cds-icon class="alert-icon" shape="exclamation-circle"></cds-icon>
                            </div>
                            <span class="alert-text">
                            {{ f5LoginError }}
                            </span>
                        </div>
                </div>
                </div>
                <form clrForm [formGroup]="destinationCtrlForm" clrLayout="vertical">
                <clr-input-container>
                    <label> {{dictionary.startMigrationIpAddressTitle}} </label>
                    <input clrInput type="text" formControlName="avi_destination_ip" required size="100" />
                </clr-input-container>
                <clr-input-container>
                        <label> {{dictionary.startMigrationUserNameTitle}} </label>
                        <input clrInput type="text" formControlName="avi_destination_user" required size="100" />
                </clr-input-container>
                <clr-password-container>
                        <label> {{dictionary.startMigrationPasswordTitle}} </label>
                        <input
                        clrPassword
                        name="password"
                        formControlName="avi_destination_password"
                        size="95"
                        required
                        />
                </clr-password-container>
                </form>
            </div>
            <!-- <div *ngIf="loadingFlag">
                <div class="center">
                <img width="350" height="220"  src="assets/images/analyzing.png"/>
                </div>
                <div class="progress loop progress-bar"><progress></progress></div>
            </div> -->
        </clr-wizard-page>

        <clr-wizard-page
            [clrWizardPageNextDisabled]="!mapDestinationForm.valid"
            (clrWizardPageNext)="submit()"
            [clrWizardPagePreventDefaultNext]="true"
        >
            <ng-template clrPageTitle> {{ dictionary.startMigrationMapDestinationTitle }} </ng-template>
            <ng-template clrPageNavTitle> {{ dictionary.startMigrationMapDestinationTitle }} </ng-template>

            <form clrForm [formGroup]="mapDestinationForm" clrLayout="vertical">
                <clr-select-container>
                    <label> {{ dictionary.startMigrationTenantTitle }} </label>
                    <select clrSelect name="options" class="select-input" formControlName="avi_mapped_tenant">
                        <option disabled selected [value]="null" placeholder="select"> {{ dictionary.startMigrationSelectLabel }} </option>
                        <option *ngFor="let tenant of f5DestinationData?.tenants" [value]="tenant?.tenant"> {{tenant?.tenant}} </option>
                    </select>
                </clr-select-container>
                <clr-select-container>
                    <label> {{ dictionary.startMigrationCloudTitle }} </label>
                    <select clrSelect name="options" class="select-input" formControlName="avi_mapped_cloud">
                        <option disabled selected [value]="null"> {{ dictionary.startMigrationSelectLabel }} </option>
                        <option *ngFor="let cloud of currentTenant?.clouds" [value]="cloud?.cloud_name"> {{cloud?.cloud_name}} </option>
                    </select>
                </clr-select-container>
                <clr-select-container>
                    <label> {{ dictionary.startMigrationVrfTitle }} </label>
                    <select clrSelect name="options" class="select-input" formControlName="avi_mapped_vrf">
                        <option disabled selected [value]="null"> {{ dictionary.startMigrationSelectLabel }} </option>
                        <option *ngFor="let vrf of currentCloud?.vrf" [value]="vrf?.name"> {{vrf?.name}} </option>
                    </select>
                </clr-select-container>
                <clr-select-container>
                    <label> {{ dictionary.startMigrationSeGroupTitle }} </label>
                    <select clrSelect name="options" class="select-input" formControlName="avi_mapped_segroup">
                        <option disabled selected [value]="null"> {{ dictionary.startMigrationSelectLabel }} </option>
                        <option *ngFor="let seGroup of currentCloud?.seg" [value]="seGroup.name"> {{seGroup.name}} </option>
                    </select>
                </clr-select-container>
            </form>
            <!-- <ng-template clrPageButtons>
                <clr-wizard-button [type]="'custom-finish'"> {{ dictionary.finishLabel }}</clr-wizard-button>
            </ng-template> -->
        </clr-wizard-page>

        <clr-wizard-page (clrWizardPageCustomButton)="closeWizard()"> 
             <!-- (clrWizardPageOnLoad)="onFinalizeLoad()"  -->
            <ng-template clrPageTitle>{{ dictionary.finalizingImportPageTitle }} </ng-template>
            <ng-template clrPageNavTitle>{{ dictionary.finalizingImportPageTitle }}</ng-template>

            <div class="finalizing-section">
                <clr-alert [clrAlertType]="'danger'" *ngIf="errorMessage">
                    <clr-alert-item>
                      <span class="alert-text">{{ errorMessage }}</span>
                    </clr-alert-item>
                </clr-alert>

                <div class="finalizing-picture" *ngIf="!finished && !errorMessage">
                    <img width="350" height="220"  src="assets/images/analyzing.png"/>
                </div>

                <div class="progress loop progress-bar" *ngIf="!finished && !errorMessage"><progress></progress></div>
            </div>
            <!-- <ng-template clrPageButtons>
                <clr-wizard-button [type]="'custom-finish'"> {{ finished ?  dictionary.doneLabel : dictionary.inProgressLabel }}</clr-wizard-button>
            </ng-template> -->
        </clr-wizard-page>
    </clr-wizard>
</div>
