<div class="content">
  <div class="card highlight-card">
    <span>{{ title }} app is running!</span>
  </div>
</div>

<div>
  <div class="buttons-section">
    <button
      class="seperator"
      (click)="handleGetData()"
    >
      Get Data
    </button>

    <button
      class="seperator"
      (click)="handleStorerData()"
    >
      Store Data
    </button>

    <button
      (click)="handleClearData()"
    >
      Clear Data
    </button>
  </div>
  <p> {{ responseMessage | json }} </p>
</div>

<div class="loading-overlay" *ngIf="loading$ | async">
  <div class="spinner"></div>
</div>

<router-outlet></router-outlet>
