.config-editor {
  .config-editor-section {
    display: flex;
    border: 2px solid #CCCCCC;
    height: 450px;

    .header {
      margin-top: 0px;
      border-bottom: 2px solid #CCCCCC;
      background-color: #FAFAFA;
      padding: 6px 12px;
      font-weight: bold;
      height: 35px;
      ;
    }

    & .left-section {
      width: 50%;
      background-color: #FAFAFA;
      font-weight: bold;

      & .left-text-area {
        height: calc(100% - 35px);
        border: none;
        border-right: 2px solid #CCCCCC;
        width: 100%;
        display: block;
        outline: none;
        padding: 7px;
        background-color: #FAFAFA;
      }
    }

    & .right-section {
      flex-grow: 1;
      max-width: 50%;

      & .right-editor-wrapper {
        height: calc(100% - 35px);

        & .right-editor {
          height: calc(100% - 50px);
          margin-top: 9px;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: end;
  }
}

:host ::ng-deep .jsoneditor {
  border: none;
  margin-top: 5px;

  .jsoneditor-menu {
    display: none;
  }

  .jsoneditor-text {
    padding: 5px;
  }

  .jsoneditor-outer {
    margin: 0px;
    padding: 0px;
  }

  .jsoneditor-validation-errors-container {
    .jsoneditor-additional-errors {
      display: none !important;
    }
  }
}

.clarity-overrides();

.clarity-overrides() {
  :host ::ng-deep .alert {
    margin-top: 0;
  }
}
