<div class="f5-configuration">
  <div class="alert-section">
    <clr-alert *ngIf="hasError" [clrAlertType]="'danger'" (clrAlertClosedChange)="onErrorAlertClose()">
      <clr-alert-item>
          <span class="alert-text">
            {{ dictionary.genericErrorMessage }}
          </span>
      </clr-alert-item>
    </clr-alert>
  </div>

  <div class="f5-configuration__cards">
    <div class="clr-row">
      <div class="clr-col-lg-6 clr-col-sm-6 clr-col-12">
        <next-conversion-card
          [selectedMigrationData]="incompleteMigrationsData[selectedMigrationIndex]"
          [isFetchInProgress]="isLoadingMigrationsData"
          (onSkip)="handleSkip()"
          (onStart)="handleStart()"
        ></next-conversion-card>
      </div>
      <div class="clr-col-lg-6 clr-col-sm-6 clr-col-12">
        <lab-controller-card
          [isFetchInProgress]="isLoadingMigrationsData"
          (onFetch)="handleFetch()"
        ></lab-controller-card>
      </div>
    </div>
  </div>

  <div class="f5-configuration__grid">
      <incomplete-migrations-grid
          [incompleteMigrationsData]="incompleteMigrationsData"
          [isLoading]="isLoadingMigrationsData"
          (onAcceptVsConfig)="handleVSAccept($event)"
      ></incomplete-migrations-grid>
  </div>

  <div class="f5-configuration__alert-section" *ngIf="configurationService.showCompletedMigrationsCountAlert">
    <clr-alert [clrAlertType]="'success'" (clrAlertClosedChange)="onSuccessAlertClose()">
      <clr-alert-item>
        <span class="alert-text">
          <span class="f5-configuration__alert-header">{{ dictionary.convertedLabel }} {{ completedVSMigrationsCount }} {{ dictionary.completedMigrationsAlertHeader }}</span>
          <span class="f5-configuration__alert-body">{{ dictionary.completedMigrationsAlertMessage }}</span>
        </span>
      </clr-alert-item>
    </clr-alert>
  </div>

  <vs-config-editor-modal
    *ngIf="isOpenVsConfigEditorModal"
    [vsConfig]="incompleteMigrationsData[selectedMigrationIndex]"
    (onCloseVsConfigEditorModal)="handleCloseVsConfigEditor($event)"
  ></vs-config-editor-modal>
</div>
