<div class="f5-configuration">
    <div class="f5-configuration__cards">
        <div class="clr-row">
            <div class="clr-col-lg-6 clr-col-sm-6 clr-col-12">
              <next-conversion-card
                [selectedMigrationData]="selectedMigrationData"
                (onSkip)="handleSkip()"
                (onStart)="handleStart()"
              ></next-conversion-card>
            </div>
            <div class="clr-col-lg-6 clr-col-sm-6 clr-col-12">
              <lab-controller-card
                (onEdit)="handleLabControllerEdit()"
              ></lab-controller-card>
            </div>
          </div>
    </div>
    <div class="f5-configuration__grid">
        <incomplete-migrations-grid
            [incompleteMigrationsData]="incompleteMigrationsData"
            (onRefreshIncompleteMigrationsData)="handleRefreshIncompleteMigrationsData()"
        ></incomplete-migrations-grid>
    </div>
</div>

<vs-config-editor-modal
    *ngIf="isOpenVsConfigEditorModal"
    [vsConfig]="selectedMigrationData"
    (onCloseVsConfigEditorModal)="handleCloseVsConfigEditorModal($event)"
></vs-config-editor-modal>

<start-migration-wizard
   *ngIf="openEditControllerConfig"
   [isEditLabControllerDetails]="true"
   (onClose)="handleCloseStartMigrationWizard()"
></start-migration-wizard>
