
<div class="card">
    <h3 class="card-header">
        <cds-icon shape="flask" size='md' status="success"></cds-icon>
        {{ dictionary.header }}
    </h3>
    <div class="card-block">
        <form clrForm [clrLayout]="verticalLayout">
            <div class="lab-controller-card__row">
                <clr-tooltip>
                    <clr-input-container class="lab-controller-card__no-margin-top">
                        <label>{{ dictionary.AddressLabel }}</label>
                            <input placeholder="{{ emptyValue }}" clrInput clrTooltipTrigger [value]="labControllerDetails.avi_lab_ip" name="username"
                            readonly />
                    </clr-input-container>
                    <clr-tooltip-content *ngIf="labControllerDetails.avi_lab_ip" clrPosition="left">
                        <span>{{ labControllerDetails.avi_lab_ip }} </span>
                      </clr-tooltip-content>
                </clr-tooltip>
            </div>
            <div class="lab-controller-card__row">
                <clr-tooltip>
                <clr-input-container>
                    <label>{{ dictionary.usernameLabel }}</label>
                    <input placeholder="{{ emptyValue }}" clrInput clrTooltipTrigger [value]="labControllerDetails.avi_lab_user" name="ipAddress"
                        readonly />
                </clr-input-container>
                <clr-tooltip-content *ngIf="labControllerDetails.avi_lab_user" clrPosition="left">
                    <span>{{ labControllerDetails.avi_lab_user }} </span>
                  </clr-tooltip-content>
                </clr-tooltip>
                <clr-input-container>
                    <label>{{ dictionary.passwordLabel }}</label>
                    <input placeholder="{{ emptyValue }}" clrInput type="password" [value]="labControllerDetails.avi_lab_password"
                        name="password" readonly />
                </clr-input-container>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button class="btn btn-primary" [disabled]="!isLabControllerDetailsValid || isFetchInProgress" (click)="handleFetch()">{{ dictionary.fetchLabel }}</button>
        <button class="btn btn-link" [disabled]="!isLabControllerDetailsValid || isFetchInProgress" (click)="handleEdit()">{{ dictionary.editLabel }}</button>
    </div>
</div>

<edit-lab-controller-modal
  *ngIf="openEditModal"
  [labControllerDetails]="labControllerDetails"
  (onClose)="handleCloseEditModal($event)"
></edit-lab-controller-modal>
